fastapi==0.115.6
uvicorn[standard]==0.34.0
prometheus-client==0.21.1
prometheus-api-client==0.5.5
structlog==24.4.0
pydantic==2.10.4
httpx==0.28.1
scikit-learn==1.6.1
xgboost==2.1.0
joblib==1.4.2
numpy==2.2.1
pandas==2.2.3
